input {
  background-color: aqua;
  font-size: xx-large !important;
  height: 50px;
  text-align: right;
}

button {
  background: greenyellow !important;
  font-size: 50px !important;
  font-weight: bolder !important;
  height: 100px;
}
